*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
body{
    background-color: transparent;
    overflow: hidden;
}

h1
{
    position: absolute;
    top: 20px;
    padding: 10px;
    color: #dff1ff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poiret One', cursive;
    letter-spacing: 7px;
    font-size: 30px;
    /* z-index: 4; */
}
h2
{
    font-family: 'Poiret One', cursive;
    z-index: 1;
    color: white;
    position: absolute;
    top: 65%;
    left: 45%;
}
p{
    text-align: center;
    position: absolute;
    top: 130px;
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}
section
{
    position:absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #305cb9, #dff1ff);
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
}
section .color
{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1)
{
background:#ff359b;
width: 600px;
height: 600px;
top: -350px;
}
section .color:nth-child(2)
{
background:#00d2ff;
width: 500px;
height: 500px;
bottom: -150px;
left: 100px;
}
section .color:nth-child(3)
{
background:#fffd87;
width: 300px;
height: 300px;
bottom: 50px;
right: 0px;
}
ul
{
    position: relative;
    display: flex;
    z-index: 2;
}
ul li
{
position: relative;
list-style: none;
margin: 10px;
}
ul li a 
{
   position: relative;
   width: 80px;
   height: 80px;
   display: inline-block;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #fff;
   font-size: 2em;
   border: 1px solid rgba(255,255,255,0.4);
   border-right: 1px solid rgba(255,255,255,0.2);
   border-bottom: 1px solid rgba(255,255,255,0.2);
   box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(2px);
   transition: 0.5s;
   overflow: hidden;
   font-family: roboto;
}
ul li a:hover
{
transform: translateY(-20px);
}
ul li a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
ul li a:hover::before
{
transform: skewX(45deg) translateX(-150px);
}
img
{
    background-image: url(./img/me-mini.jpg);
    position: absolute;
    top: 100px;
    left: 100px;
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: contain;
    border: 1px solid black;
}

div
{
    z-index: 2;
    position:absolute;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background: linear-gradient(to bottom, #ff4f8b, #dff1ff); */
    border-top: 1px solid rgba(255,255,255,0.5);
    bottom: 20%;
}
div::before
{
    /* content: ''; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 0%; */
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
}
div .color
{
    position: absolute;
    filter: blur(150px);
}
div ul li a {
    position: relative;
    top: -55px;
    display: flex;
   justify-content: center;
   align-items: center;
   font-family: roboto;
   width: 90px;
   height: 90px;
   padding: 30px;
   font-size: 20px;
   color:  #305cb9;
}
